<div class="card my-4 bg-dark">
  <header class="ps-4 card-header bg-secondary">Comment by
    {{user.username}}
    on
    {{format_date createdAt}}</header>
  <p class="ps-4 card-body">{{body}}</p>
</div>