<section class="col-lg-6">
  <div class="card my-4 bg-dark">
    <header class="ps-4 card-header bg-success">Post:
      {{title}}
      from
      {{format_date createdAt}}</header>
    <p class="ps-4 card-body">{{body}} </p>
    <div class="d-flex justify-content-center"><a
        href="/dashboard/edit-post/{{id}}"
        class="btn btn-success w-25 mb-3"
      >Edit</a></div>
  </div>
</section>