<section class="col">
  <div class="card my-4 bg-dark">
    <header class="ps-4 card-header bg-success">{{title}}
      {{user.username}}</header>
    <p class="ps-4 card-body">{{body}} </p>
    <a href="/dashboard/edit-post/{{id}}"><button
        class="btn btn-success"
      >Edit</button></a>
  </div>
</section>