<section class="col">
  <div class="card my-4 bg-dark">
    <a href="/api/post/{{id}}">
      <header class="ps-4 card-header bg-success">{{title}}
        -
        {{user.username}}</header>
      <p class="ps-4 card-body">{{body}}</p>
    </a>
  </div>
</section>