<section class="flex-row row justify-content-center">
  <section class="col">
    <div class="card my-4 bg-dark">

      <h3 class="mt-4 mb-4 text-center">Sign in to leave a comment</h3>
      <div class="d-flex justify-content-center mb-4">
        <a href="/login" class="btn btn-success p-2 w-25" id="login">Sign in</a>
      </div>
    </div>

  </section>
</section>