<section class="container">
  <section class="row justify-content-center">
    <section class="col">
      <div class="card my-4 bg-dark">

        <h3 class="mt-4 mb-4 text-center">Sign in to leave a comment</h3>
        <div class="d-flex justify-content-center mb-4">
          <button class="btn btn-success p-2 w-25" id="login"><a
              href="/login"
            >Sign in</a></button>
        </div>
      </div>

    </section>
  </section>
</section>