<div class="d-flex justify-content-center mt-4 mb-4">
<a href="/dashboard/new-post">
  <div class="new-post-wrapper newPostBtn btn btn-success d-flex justify-content-center align-items-center fs-4"><i class="bi bi-pencil-square"></i></div> 
</a>
<div class="d-flex align-items-center fs-5 ms-3">Create a New Post</div>
</div>
<section class="container">
  <section class="flex-row row justify-content-center">
    {{#each posts}}
    {{> post-details-admin}}
    {{/each}}
  </section>
</section>