<section class="container">
  <h3 class="header text-center">Message Feed</h3>
  <section class="flex-row justify-center">
    {{#each posts}}
    {{> post-details}}
    {{/each}}
  </section>
</section>