<section class="container">
  <h2 class="header text-center">All Posts</h2>
  <section class="flex-row justify-center">
    {{#each posts}}
    {{> post-details}}
    {{/each}}
  </section>
</section>